<nav class="desktop-header">
  <div class="logo__wrapp">
    <img src="../../assets/images/svg/LogoTop.svg" />
    <img src="../../assets/images/svg/LogoBottom.svg" />
  </div>
  <ul class="desktop-header__nav__list">
    <li>
      <a href="#" class="nav-link" onclick="navigateTo(event, 'home')"
        >Про нас</a
      >
    </li>
    <li>
      <a href="#" class="nav-link" onclick="navigateTo(event, 'advantages')"
        >Преимущества</a
      >
    </li>
    <li>
      <a href="#" class="nav-link" onclick="navigateTo(event, 'blog')">Блог</a>
    </li>
    <li>
      <a href="#" class="nav-link" onclick="navigateTo(event, 'contacts')"
        >Контакты</a
      >
    </li>
    <li>
      <a href="#" class="nav-link" onclick="navigateTo(event, 'faq')">FAQ</a>
    </li>
    <li>
      <a href="#" class="nav-link" onclick="navigateTo(event, 'quiz')">Quiz</a>
    </li>
  </ul>

  <button class="headerDesktopBtn">Подать заявку сейчас</button>
</nav>
