<nav class="mobile-header">
  <div class="logo__wrapp">
    <img src="../../assets/images/svg/LogoTop.svg" />
    <img src="../../assets/images/svg/LogoBottom.svg" />
  </div>
  <ul id="mobile-menu">
    <li><a href="#" onclick="navigateTo(event, 'home')">Про нас</a></li>
    <li>
      <a href="#" onclick="navigateTo(event, 'advantages')">Преимущества</a>
    </li>
    <li><a href="#" onclick="navigateTo(event, 'blog')">Блог</a></li>
    <li><a href="#" onclick="navigateTo(event, 'contacts')">Контакты</a></li>
    <li><a href="#" onclick="navigateTo(event, 'faq')">FAQ</a></li>
    <li><a href="#" onclick="navigateTo(event, 'quiz')">Quiz</a></li>
  </ul>
</nav>
